<article class="d-flex flex-column flex-md-row flex-wrap p-3 align-items-center">
    <img class="col-5 col-md-2 img-artic mx-3" src="https://d500.epimg.net/cincodias/imagenes/2019/11/04/lifestyle/1572892359_005767_1572892909_noticia_normal.jpg" alt="">
    <div class="col-md-8">
        <h3>{{study.title}}</h3>
        <p>{{study.institution}}</p>
        <p>{{study.startLapse.toLocaleDateString()}} - {{study.endLapse.toLocaleDateString()}}</p>
        <p>{{study.description}}</p>
    </div>
    <div class="ms-auto d-flex flex-md-column justify-content-evenly">
        <button class="btn btn-danger buttonTrash"><i class="bi bi-trash"></i></button>
        <button class="btn btn-primary"><i class="bi bi-pencil"></i></button>
    </div>
</article>