<section class="row px-sm-4 mt-4 mx-3">
    
    <div class="d-flex justify-content-between">
        <h2>Experiencia</h2>
        <button class="btn btn-primary" (click)="addForm()" *ngIf="isLogged()"><i class="bi bi-plus"></i></button>
    </div>

    <article class="d-flex flex-column flex-md-row flex-wrap p-3 align-items-md-center" *ngFor = "let experience of experiences">
        <img class="col-md-2 img-artic mx-3" [src]="experience.companyLogo" alt="">
        <div class="col-md-8 mx-3 mx-md-0">
            <h3>{{experience.job}}</h3>
            <p>{{experience.getTimeLapse()}}</p>
            <p>{{experience.type}}</p>
            <p>{{experience.activities}}</p>
        </div>
        <div class="ms-auto d-flex flex-md-column justify-content-evenly" *ngIf="isLogged()">
            <button class="btn btn-danger buttonTrash" (click)="removeTag(experience)"><i class="bi bi-trash"></i></button>
            <button class="btn btn-primary" (click)="editForm(experience)"><i class="bi bi-pencil"></i></button>
        </div>
    </article>
        
</section>

<div class="backShadow" *ngIf="formExperience" (click)="cancelForm()"></div>

<form class="d-flex flex-column bg-primary formSection" (ngSubmit)="submitForm()"  *ngIf="formExperience">
    <h3 class="text-light">Experiencia</h3>

    <label class="text-light" for="job">Puesto de Trabajo:</label>
    <input type="text" id="job" [(ngModel)]="auxExperience.job" name="job" required="true">

    <div class="row">
        <div class="col-6 lapse">
            <label class="text-light" for="startExp">Inicio:</label>
            <input type="date" id="startExp" [(ngModel)]="auxExperience.startLapse" name="startLapse" required="true">
        </div>
        <div class="col-6 lapse">
            <label class="text-light" for="endExp">Final:</label>
            <input type="date" id="endExp" [(ngModel)]="auxExperience.endLapse" name="endLapse" required="true">
        </div>
    </div>

    <label class="text-light" for="imgCompanyExp">Logo de la Empresa:</label>
    <input class="text-light" type="file" accept="image/*" id="imgCompanyExp" [(ngModel)]="auxExperience.companyLogo" 
        name="companyLogo">
    
    <label class="text-light" for="imgCompanyExp">Tipo de trabajo:</label>
    <select name="tipoExp" id="tipoExp" [ngModel]="auxExperience.type">
        <option value="Full Time">Full Time</option>
        <option value="Part Time">Part Time</option>
        <option value="Independiente">Independiente</option>
    </select>
    
    <label class="text-light" for="activityExp">Actividades en el puesto:</label>
    <textarea id="activityExp" [(ngModel)]="auxExperience.activities" name="activities" required="true"></textarea>
    
    <button class="btn btn-light" type="submit">Enviar</button>
    <button class="btn btn-danger" (click)="cancelForm()">Cancelar</button>
</form>
