<section class="row px-4 mt-4">
    <h2>Experiencia</h2>
    <div class="d-flex flex-wrap" *ngFor = "let experience of experiences">
        <article class="d-flex flex-column flex-md-row flex-wrap p-3 align-items-center">
            <img class="col-5 col-md-2 img-artic mx-3" src="./assets/images/gris.jpg" alt="">
            <div class="col-md-8">
                <h3>{{experience.job}}</h3>
                <p>{{experience.lapse}}</p>
                <p>{{experience.activities}}</p>
            </div>
            <div class="ms-auto d-flex flex-md-column justify-content-evenly" *ngIf = "isLogged()">
                <button class="btn btn-danger buttonTrash" (click)="removeTag(experience)"><i class="bi bi-trash"></i></button>
                <button class="btn btn-primary" (clcik)="editExperience(experience)"><i class="bi bi-pencil"></i></button>
            </div>
        </article>
        
    </div>
</section>
<form class="d-flex flex-column">
    <input type="text">
    <input type="number">
    <input type="number">
    this.job = job;
    this.lapse = lapse;
    this.companyLogo = companyLogo;
    this.activities = activities;
</form>
