article{
    width: 100%;
}
@media screen and (max-width: 767px){
    article{
        width: auto;
    }
}
@media screen and (max-width: 576px){
    .div-content{
        flex-direction: column;
    }
}