<div class="container-fluid">
    <nav class="row navbar navbar-expand-lg navbar-dark bg-primary p-1">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="" alt="">
                Argentina Programa
            </a>
            <button class="navbar-toggler my-2"type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-lg-row">
                    <li class="nav-item fs-3">
                        <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-linkedin"></i></a>
                    </li>
                    <li class="nav-item fs-3">
                        <a class="nav-link active" href="#"><i class="bi bi-github"></i></a>
                    </li>
                </ul>
                <button type="button" class="btn btn-light" id="IniciarSesion" *ngIf = "!isLogIn()">Iniciar Sesión</button>
                <button type="button" class="btn btn-danger" id="CerrarSesion" *ngIf = "isLogIn()">Cerrar Sesión</button>
            </div>
        </div>
    </nav>
    
    <app-experience-section *ngIf = "experience"></app-experience-section>
    <app-study-section *ngIf = "study"></app-study-section>
    <app-skill-section *ngIf = "skill"></app-skill-section>
    <app-project-section *ngIf = "project"></app-project-section>
</div>
