<div class="container-fluid">
    <app-navbar [linkedin]="account.linkedin" [github]="account.github"></app-navbar>
    <app-header></app-header>
    <app-about-me *ngIf="sections.aboutMe"></app-about-me>
    <app-experience-section *ngIf="sections.experience"></app-experience-section>
    <app-study-section *ngIf="sections.study"></app-study-section>
    <app-skill-section *ngIf="sections.skill"></app-skill-section>
    <app-project-section *ngIf="sections.project"></app-project-section>
</div>
