<div class="card m-3" style="width: 18rem;">
    <img src="./assets/images/gris.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h3 class="card-title">{{project.name}}</h3>
        <p class="card-text">{{project.startLapse.toLocaleDateString()}} - {{project.endLapse.toLocaleDateString()}}</p>
        <p class="card-text">{{project.description}}</p>
        <div class="d-flex">
            <a [href] = "project.link" class="btn btn-primary">Ver más</a>
            <div class="ms-auto d-flex justify-content-evenly">
                <button class="btn btn-danger me-2"><i class="bi bi-trash"></i></button>
                <button class="btn btn-primary"><i class="bi bi-pencil"></i></button>
            </div>
        </div>
    </div>
</div>